# macOS system files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in macOS folders
.Spotlight-V100
.Trashes

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node.js
node_modules

# Python
__pycache__